<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
    <targets>
        <target name="jsonFile" xsi:type="File" fileName="/home/cidico/logs/teste.json">
            <layout xsi:type="JsonLayout" maxRecursionLimit="4" escapeForwardSlash="false" includeAllProperties="true" renderEmptyObject="true">
                <attribute name="Time" layout="${longdate}" />
                <attribute name="Logger" layout="${logger}" />
                <attribute name="Level" layout="${level:upperCase=true}"/>
                <attribute name="Message" layout="${message:raw=true}" escapeUnicode="false" />
            </layout>
        </target>
    </targets>

    <rules>
        <logger name="*" minlevel="Trace" writeTo="jsonFile" />
    </rules>
</nlog>